[% # Provide a title to root/lib/site/header -%]
[% META title = 'Roles List' -%]

<table>
<tr><th>Title</th><th>Roles</th><th>List</th></tr>
[% # Display each role in a table row %]
[% FOREACH role IN roles -%]
  <tr>
    <td>[% role.id %]</td>
    <td>[% role.role %]</td>
    </td>
  </tr>
[% END -%]
</table>
